@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

.title {
  font-family: Pixelify Sans;
}

.main_box {
  padding: 9px 30px;
  border-radius: 7px;
  box-shadow: 0 0 6px 5px rgba(135, 53, 197, 0.5);
}
input {
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
  background-color: blueviolet;
  margin-right: 5px;
  outline: none;
}
input::placeholder {
  color: black;
  opacity: 0.5;
  font-family: Pixelify Sans;
}
input:focus::placeholder {
  color: transparent;
}

button {
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
  background-color: #ff3ea5;
  cursor: pointer;
  transition: all 0.3s;
  font-family: Pixelify Sans;
}
button:hover {
  background-color: #dc157f;
}

li {
  color: blueviolet;
  list-style-type: "☁️ ";
}

.todo_list {
  display: flex;
  justify-content: space-between;
}

.delete_btn {
  all: unset;
  font-size: 13px;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.delete_btn:hover {
  color: violet;
  background-color: transparent;
}

.check_btn {
  all: unset;
  margin-right: 5px;
  cursor: pointer;
  font-size: 12px;
  color: violet;
}
.check_btn:hover {
  background-color: transparent;
  color: white;
}
